In [26]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [27]:
import pandas as pd
import numpy as np
from faker import Faker

In [28]:
from mlfaker.generators import BaseGenerator, NumGenerator, CatGenerator

In [29]:
fake = Faker()

In [30]:
n1 = NumGenerator("foo", fillrate=0.9)
n2 = NumGenerator("bar", fillrate=0.9)

In [31]:
CatGenerator("foo", classes=[0, 1]).generate(10)

0    0
1    1
2    1
3    0
4    0
5    1
6    1
7    1
8    0
9    1
Name: foo, dtype: int64

In [32]:
def make_fake_df(columns, length):
    return pd.concat([n.generate(length) for n in columns], axis=1)

def make_ml_df(length, num_numerical=3, num_categorical=0, target="regression"):
        numerics = [NumGenerator(f"col{n}") for n in range(num_numerical)]
        categorics = [CatGenerator(f"col{n}", classes=["foo", "bar"]) for n in range(num_numerical, num_numerical+num_categorical)]
        columns = numerics + categorics
        if target == "regression":
            columns.append(NumGenerator(f"target"))
        elif target == "binary":
            columns.append(CatGenerator(f"target", classes=[0,1]))
        else:
            print("No target")

        return pd.concat([n.generate(length) for n in columns], axis=1)

In [33]:
make_ml_df(10, num_categorical=1)

       col0      col1      col2 col3    target
0  0.466832  1.075986  0.166368  foo  1.423537
1 -0.281368  0.617598 -1.551440  bar  1.139922
2 -0.544921  0.058318 -1.414038  bar  0.040329
3  0.097482  0.106373 -2.170844  foo -0.759174
4 -0.134955  0.097014  1.360466  foo -1.900827
5 -0.601625  0.926541 -1.439079  foo  0.111841
6 -0.447232 -1.177101 -0.427516  foo -0.058150
7 -1.170310  0.164588 -0.100366  foo  0.427494
8 -1.017190  1.439319  1.115186  foo  0.957519
9 -0.228342 -2.189417  1.095712  foo  0.094961

In [34]:
make_ml_df(10, num_categorical=1, target="binary")

       col0      col1      col2 col3  target
0 -0.087268 -0.089107 -0.813136  bar       0
1 -1.587523  0.855178 -0.888687  foo       0
2 -0.980953  1.231037 -0.242709  bar       1
3  0.599313  2.031063  0.441573  bar       1
4  1.087682 -1.071544 -1.010003  foo       0
5 -0.573865  0.154239  0.293353  bar       1
6 -1.848098 -0.208061  0.357862  bar       0
7  1.088915 -0.141590  0.190827  foo       0
8 -0.492218 -0.238336  1.505399  foo       0
9  0.937766  0.508047  0.428644  bar       0

In [35]:
make_fake_df([NumGenerator("col1"), NumGenerator("col2")], 10)

       col1      col2
0 -0.550011  1.657827
1 -0.643543 -1.673188
2 -0.315949  0.685523
3  0.112398  0.203581
4  1.011540  0.904696
5 -0.983051 -1.728867
6 -0.558416  0.167622
7  1.023397 -0.068747
8 -0.632453  2.300805
9 -1.910849 -1.549436